<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<title>Pastebin web application</title>
<link rel=Stylesheet href="http://localhost/static/style.css" type="text/css">

</head>
<body>
<div id="header">
    <span class="headline"></span>
	<h1>Pastebin web application</h1>
</div>

<div id="content">
	
    <h2>Text Uploading</h2>
    <h3>{% for pastebin in textList %}
	{{pastebin.nick}}
	{% endfor %}</h3>
	
<form method="post" action="." class="pastetext">
<ol>
		
	<li>
	{% for pastebin in textList %}
		{{ pastebin.date}}<br>
		{{ pastebin.expireDate }}<br>
	{% endfor %}
</li>
<li>
<a href="./index">Home</a>
</li>
</ol>
</form>

</div>


</body>
</html>